main .contenedor{
	width:1010px;
	margin:auto;
    margin-top: 60px;
    margin-bottom: -16px;
}
main .contenedor h1,h2{
    font-family: 'TrajanPro3Bold', Helvetica, Arial, Lucida, sans-serif;
}
main .contenedor h1{
    margin-bottom: 30px;
}
main .contenedor h2{
    font-size: 28px;
}
main .contenedor p{
    font-size: 13px;
    line-height: 1.7em;
    padding: 2px;
}
p a{
    text-decoration: none;
    color: #c2a464;
}