main{
    width: 100%;
    /*height: 1000px;*/
    padding-top: 147px;
}
main .heroe{
    width: 100%;
    min-height: 400px;
    background: url(../img/fondoheroe.webp);
    background-size: cover;
    text-align: center;
    color: white;
    padding-bottom: 1px;
    border-top:10px;
}
main .heroe h1{
    font-family: "TrajanPro3Bold","Open Sans","sans-serif";
    font-size: 40px;
    color: #C2A464;
    padding-bottom: 10px;
}
main .heroe h2{
    font-family: 'Monotype Corsiva',"sans-serif";
} 
main .heroe p{
    padding: 0px;
    margin: 150px;
    position: relative;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
main .contenedor{
    width: 1280px;
    margin: auto;
    text-align: left;
    font-size: 20px;
    line-height:38px;
    background: white;
    padding: 30px; 
} 
main .contenedor img{
    border: solid 4px black;
    float: right;
    margin: 80px;
    padding: 10px;
    width: 600px;
}
main .contenedor h1{
    font-family: "TrajanPro3Bold","Open Sans",sans-serif;
    font-size: 40px;
    color: #C2A464;
}
main .contenedor h2{
    font-family: "TrajanPro3Bold","Open Sans",sans-serif;
    font-size: 40px;
    color: #C2A464;
}
.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
main .caja{
    width: 150px;
    height: 150px;
    border: 3px solid black;
    background-color: white;
    margin: 15px;
    text-align: center;
    line-height: 150px;
}